venv/
balancedDataMini.csv
balancedDatasetMiniNoProcesstest.csv
balancedDatasetMiniNoProcesstraining.csv
balancedDatasetMiniNoProcessval.csv
balancedDatasetMinitest.csv
balancedDatasetMinitraining.csv
balancedDatasetMinival.csv
